[Desktop Entry]
Type=Application
Name=Figma
Exec=thorium-browser --app='https://www.figma.com'
Icon=figma-linux
Terminal=false
StartupNotify=true
StartupWMClass=hehe-figma
